# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Dylan Callaghan
	email = 21831599@sun.ac.za
[commit]
	template = ~/.gitmessage
[core]
	excludesFile = ~/.gitignore
